/* Blogs */
.blogs_item {
	margin-bottom: 20px;

	align-items: center;
	display: flex;
}
.blogs_img {
	width: 120px;
	height: 80px;
}
.blogs_content	{
	padding-left: 20px;
}
.blogs_title {
	display: block;
	margin-bottom: 5px;

	color: #333;
	font-size: 12px;
	line-height: 1.4;
	text-transform: uppercase;
	text-decoration: none;
}
.blogs_title:hover {
	text-decoration: underline;
}
.blogs_date {
	font-size: 13px;
	color:#999;
	font-style: italic;
	font-weight: 300;
}