/* Navigation */
.nav{
	font-size:14px;
	text-transform: uppercase;
}
.nav_link{
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color:#fff;
	text-decoration: none;

	transition: color .2s linear;
}
.nav_link:focus {
	outline: 0;
}
.nav_link:hover{
	color:#FF6400;
}
.nav_link:after{
	content:"";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #FF6400;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}
.nav_link:hover:after, 
.nav_link.active:after{
	opacity: 1;
}
.nav_link.active{
	color:#FF6400;
}

/* Nav toggle */
.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 16px;
	right: 24px;
	z-index: 1;
}
.nav-toggle:focus {
	outline: 0;
}
.nav-toggle_item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear;
}
.nav-toggle.active .nav-toggle_item {
	background: none;
}
.nav-toggle_item:before,
.nav-toggle_item:after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}
.nav-toggle_item:before {
	top: -8px;
}
.nav-toggle_item:after {
	bottom: -8px;
}
.nav-toggle.active .nav-toggle_item:before {
	transform-origin: left top;
	transform: rotate(45deg)
	translate3d(0px, -2px, 0);
}
.nav-toggle.active .nav-toggle_item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg)
	translate3d(0px, 3px, 0);
}